@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@font-face {
    font-family: Montserrat;
    src: url(./Montserrat-Regular.ttf);
}

.navText {
    font-size: 1.4em;
    font-family: Montserrat;
}

.insta {
    text-decoration: none;
    padding: 2.5vh;
}

.facebook {
    text-decoration: none;
    padding: 2.5vh;
}

.social-nav {
    display: flex;
    flex-direction: row;
    margin-right: 7.5vw;
    justify-content: flex-end;
}